@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Montserrat, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --brand-color: #f0f894;
  --contrast-color: #fcacac;
  --other-color: #9bc688;
}

@layer components {
  .language-switcher-input {
    @apply inline-flex w-full justify-center bg-white p-2 text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-100 cursor-pointer;
  }
}
